@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

/* @layer components {
  .container {
    @apply mx-auto px-3 md:px-0;
  }

  .track {
    @apply font-josefin font-bold border-red-700
  }
} */
